body {
    color: #434343;
    background-color: #f3f3f3;
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: center;
    margin: 0px auto;
    padding: 0;
}

.wrapper {
    max-width: 940px;
    height: 100%;
    margin: 0px auto;
}

.hero-area {
    background-color: #434343;
    opacity: 0.80;
}

header {
    max-width: 940px;
    margin: 0;
    padding: 20px 0px 20px 0px;
    background-color: #434343;
    
}

#logo {
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
}

nav a{
    display: inline;
    margin: 2% 5% 2% 5%; 
    text-decoration: none;
    color: #fc405c;
    font-size: 20px;
    font-variant: small-caps;
}

nav a:hover {
    color: #ffffff;
}

#row-1, #row-2 {
    clear: both;
}

main {
    max-width: 940px;
    background-color: #f3f3f3;
}

h2 {
    font-family: 'Poiret One', cursive;
    text-align: left;
    color: #fc405c;
    margin-left: 5%;
}

#user-info {
    float: left;
    width: 45%;
    margin-left: 0;
    border: none;
}

#user-info input {
    width: 75%;
    margin: 10px 0 10px 0;
    font-size: 16px;
}

#user-message {
    float: right;
    width: 45%;
    margin-right: 0;
    border: none;
}

#message {
    width: 90%;
    height: 60px;
    font-size: 16px;
    margin-top: -6px;
}

.button {
    background-color: #fc405c;
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 2px 24px;
    border-radius: 4px;
    width: 90%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
    box-shadow: none;
}

#list {
    clear: both;
    width: 90%;
    text-align: left;
    margin: auto;
    padding-top: 20px;
}

footer {
    clear: both;
    background-color: #fc405c;
    max-width: 940px;
    position: fixed;
    bottom:0;
}

#contact img {
    display: inline-block;
    width: 3%;
    margin: 1% 5% 1% 5%;
}

#contact img:hover {
    opacity: 0.25;
}
  



